{% load static %}
<!-- jQuery Library  -->
<script src="{% static 'js/jquery.js' %}"></script>
<!-- Bootstrap default js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- slick slider -->
<script src="{% static 'js/slick.min.js' %}"></script>
<script
  type="text/javascript"
  src="{% static 'js/modernizr.custom.79639.js' %}"
></script>
<!-- counter -->
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<!-- Doctors hover effect -->
<script src="{% static 'js/snap.svg-min.js' %}"></script>
<script src="{% static 'js/hovers.js' %}"></script>
<!-- Photo Swipe Gallery Slider -->
<script src="{% static 'js/photoswipe.min.js' %}"></script>
<script src="{% static 'js/photoswipe-ui-default.min.js' %}"></script>
<script src="{% static 'js/photoswipe-gallery.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'js/custom.js' %}"></script>
